<div class="bgimg">
    <div class="text-center size d-flex justify-content-center align-items-center">
      <div class="text-center">
        <div class="d-flex flex-column align-items-center">
          <img src="https://cdn-icons-png.flaticon.com/128/1923/1923530.png" alt="ADMIN" />
          <br/>
          <button type="button" class="btn btn-success" style="background-color: cadetblue;" (click)="navigateToAdminLogin()">ADMIN</button>
        </div>
      </div>
      <img src="https://cdn-icons-png.flaticon.com/128/9210/9210890.png" alt="or">
      <div class="text-center">
        <div class="d-flex flex-column align-items-center">
          <img src="https://cdn-icons-png.flaticon.com/128/9710/9710807.png" alt="USER" />
          <br/>
            <button type="button" class="btn btn-success" (click)="navigateToUserLogin()" style="background-color: cadetblue;">USER</button>

        </div>
      </div>
    </div>
  </div>
  